{% extends "base.html.twig"%}

{% block body %}
    
    <div class="widget alert alert-info adjusted">
        <i class="cus-exclamation"></i>
        <strong>Lista de clientes </strong>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('admin_download_csv') }}" class="btn btn-success" role="button">Descargar Csv</a><br><br>

    {% if customers is not empty %}  
        <table id="table-list"  class="table table-striped table-bordered responsive table-striped table-hover datatable" >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>CURP</th> 
                    <th>RFC</th> 
                    <th>Correo</th>
                    <th>Fecha nacimiento</th>
                    <th>Lugar nacimiento</th>
                    <th>Codigo postal</th> 
                </tr>        
            </thead>
            <tbody>                         
                {% for customer in customers %}
                    <tr>  
                        <td>{{ customer.getFullName() }}</td> 
                        <td>{{ customer.getCurp }}</td>
                        <td>{{ customer.getRfc }}</td>   
                        <td>{{ customer.getEmail() }}</td>
                        <td>{{ customer.getDateOfBirth()|date('Y-m-d') }}</td>
                        <td>{{ customer.getNamePlaceOfBirth }}</td>
                        <td>{{ customer.getPostCode }}</td> 
                    </tr> 
                {% endfor %}               
            </tbody>
        </table>
        <div  class="table table-striped table-bordered"></div>
    {% else %}
        <div class="alert alert-warning">
            <strong>Sin registros</strong>
        </div>         
    {% endif%}  

    <script>

        $(document).ready(function () 
        {
            $('#table-list').DataTable(
            {
                "pageLength": 5,
                "aaSorting": [[0, 'asc']]
            });
        });
    </script>

{% endblock %}